.header {
    height: 100px;
    background: url(../../assets/images/movie-reel.png) repeat-x;
    background-size: contain;
    display: flex;
    // justify-content: center;
    align-items: center;
}
