.searchBox {
    text-align: center;
    align-items: center;
    input {
        //display: block;
        width: 50%;
    }
    .searchBtn {
        display: block;
        margin: 0 auto;
        margin-top: 5px;
    }
}
